<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categorias</title>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js"></script>
		
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />
	
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>


</head>
<body>
    <div id="app">
        <b-container fluid>
            <b-row class="my-2">
                <b-col lg="12">
                    <b-card 
                            header-tag="header" 
                            footer-tag="footer" 
                            border-variant="light" 
                            header-bg-variant="transparent"
                            class="shadow-sm"
                            >
                        <template v-slot:header>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-0 text-info">
                                   CATEGORIAS
                                </h5>
                                <b-button v-b-modal.modal-1 variant="info" @click="onReset">NUEVA CATEGORIA</b-button>
                                
                            </div>
                        </template>

                        <div class="overflow-auto d-flex flex-column align-items-center">
                            <!-- START TABLE -->
                            <b-table
                                 id="table-client"
                                 :items="items"
                                 :fields="fields"
                                 hover
                                 :busy="busy"
                                 show-empty
                                 head-variant="light"
                            >
                                <!-- START LOANDING -->
                                <template v-slot:table-busy>
                                    <div class="text-center  text-primary my-2">
                                        <b-spinner class="align-middle"></b-spinner>
                                        <strong>Cargando registros...</strong>
                                    </div>
                                </template>
                                <!-- END LOANDING -->
                                
                                <template #cell(acciones)="row" > 
                                    <b-button variant="light" size="sm"> 
                                        <b-icon icon="pencil-square" scale="1" v-b-tooltip.hover title="Editar" @click="getClient(row)"></b-icon>
                                    </b-button> 
                                    <b-button variant="light" size="sm"> 
                                        <b-icon icon="trash-fill" scale="1" v-b-tooltip.hover title="Eliminar" @click="DeleteConfirmation(row)"></b-icon>
                                    </b-button> 
                                </template>	

                             

                                <!-- START EMPTY DATA -->
                                <template #empty="scope">
                                    <div role="alert" aria-live="polite">
                                        <div class="text-center my-2">De momento no hay datos para mostrar.</div>
                                    </div>
                                </template>
                                <!-- END EMPTY DATA -->
                                
                                
                            </b-table>
                            <!-- END TABLE -->
                            
                            <!--START MODAL ADD PRODUCT -->
                            <b-modal id="modal-1" title="AGREGAR CATEGORIA" :hide-footer="true" ref="modal-add">
                                <template>
                                    <div>
                                      <b-form @submit="onSubmit" @reset="onReset" >
                                       
                                        <b-form-group id="input-group-2" label="NOMBRE:" label-for="input-name">
                                            <b-form-input
                                                id="input-name"
                                                type="text"
                                                v-model="form.nombre"
                                                placeholder="Ingrese nombre"
                                                required
                                            ></b-form-input>
                                        </b-form-group>
                                       
                                            <b-button type="submit" variant="primary">Guardar</b-button>
                                            <b-button type="reset" variant="danger">Limpiar</b-button>
                                      </b-form>
                                    </div>
                                  </template>
                            </b-modal>
                            <!--END MODAL ADD PRODUCT-->

                            <!--START MODAL EDIT PRODUCT -->
                            <b-modal id="modal-editar" title="EDITAR PRODUCTO" :hide-footer="true" ref="modal-edit">
                                <template>
                                    <div>
                                        <b-form @submit="onSubmitEdit" @reset="onReset" >
                                            <b-form-group id="input-group-2" label="ID:" label-for="input-id">
                                                <b-form-input
                                                id="input-id"
                                                type="number"
                                                v-model="form.id_categoria"
                                                placeholder="Ingrese ID"
                                                required
                                                readonly
                                                ></b-form-input>
                                            </b-form-group>
                                            <b-form-group id="input-group-2" label="NOMBRE:" label-for="input-name">
                                                <b-form-input
                                                    id="input-name"
                                                    type="text"
                                                    v-model="form.nombre"
                                                    placeholder="Ingrese nombre"
                                                    required
                                                ></b-form-input>
                                            </b-form-group>
                                          
                                            <b-button type="submit" variant="primary">Editar</b-button>
                                        </b-form>
                                    </div>
                                    </template>
                            </b-modal>
                            <!--END EDIT ADD CABIN-->

                            <!--MODAL CONFIRMATION DELETE CABIN-->

                            <b-modal 
                                    id="modal-delete" 
                                    title="Mensaje de Eliminacion" 
                                    ref="modal-delete"
                                    ok-title="Eliminar"
                                    ok-only
                                    @ok="Delete"
                                    >
                                <div class="text-center">
                                    <p class="my-4 h4">¿Desea eliminar el registro?</p>
                                </div>
                              </b-modal>
                            <!--MODAL CONFIRMATION DELETE CABIN-->
                        </div>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>

    <script>
            const app = new Vue({
            el: "#app",
            data: {
                fields: [
                        { key: 'id_categoria', label: 'ID', sortable: true, thClass: 'bg-info text-white' },
                        { key: 'nombre', label: 'NOMBRE', sortable: true, thClass: 'bg-info text-white' },
                       
                        
                    ],
                busy: true,
                items: [],
                categoria_id : 0,
                form: {
                    id_categoria: '',
                    nombre: '',
                },
            },
            methods: {
                fetchData() {
                    fetch('http://localhost:8080/api/categorias/all')
                    .then(response => response.json())
                      .then(data => {
                        this.busy = false;
                        this.items = data;
                        console.log(data);
                      })
                      .catch(error => {
                        this.busy = false;
                        console.error(error);
                      });
                },
                onSubmit(event) {
                    event.preventDefault()
                    this.postData(this.form);
                  },
                onSubmitEdit(event) {
                    event.preventDefault()
                    this.EditData(this.form);
                  },
                postData(form) {
                    fetch("http://localhost:8080/api/categorias/new", {
                        headers: {
                          'Content-Type': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify({
                            "nombre": form.nombre,
                            
                        })
                    })
                    .then(response => {
                        this.$refs["modal-add"].hide();
                        this.fetchData();
                    })
                    .catch(err => {
                        console.log(err);
                    });
                  },
                EditData(form) {
                    fetch("http://localhost:8080/api/categorias/new", {
                        headers: {
                          'Content-Type': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify({
                            "id_categoria": form.id_categoria,
                            "nombre": form.nombre,
                        })
                    })
                    .then(response =>  this.fetchData())
                    .catch(err => {
                        console.log(err);
                    });

                    this.$refs["modal-edit"].hide();
                    this.onReset();
                  },
                getClient(row) {
                        this.form.id_categoria = row.item.id_categoria;
                        this.form.nombre = row.item.nombre;
                        this.$refs["modal-edit"].show();
                  },
                onReset(event) {
                        event.preventDefault();
                        this.form.id_categoria = '';
                        this.form.nombre = '';					
                      },
                DeleteConfirmation(row) {
                    this.$refs["modal-delete"].show();
                    this.categoria_id = row.item.id_categoria;
                    
                },
                Delete() {
                    fetch("http://localhost:8080/api/categorias", {
                        headers: {
                          'Content-Type': 'application/json'
                        },
                        method: "DELETE",
                        body: JSON.stringify({
                            "id_categoria": this.categoria_id,
                        })
                    })
                    .then(response =>  this.fetchData())
                    .catch(err => {
                        console.log(err);
                    });
                },
            },
            computed: {},
            mounted() {
                this.fetchData();
            }
        });
    </script>
</body>
</html>